.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 38px;

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    left: -100vw;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    // background: var(--black);
    background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-right: 26px;
      width: fit-content;
      height: fit-content;

      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 1264px) {
        margin-bottom: 40px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: 14px;
        color: var(--white);

        @media (max-width: 1264px) {
          color: var(--black) !important;
          font-size: 16px;
        }

        &.darkText {
          color: var(--new-blue);
        }
      }

      &.hasDrop {
        > .hasDropBtn {
          background: transparent;
          padding: 0;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: var(--white);

          @media (max-width: 1264px) {
            justify-content: space-between;
            width: var(--full);
            color: var(--black) !important;
            font-size: 16px;
          }

          &.boldText {
            font-family: Proxima-Medium;
          }

          &.darkText {
            color: var(--new-blue);
          }

          > span {
            margin-right: 14px;
          }

          > i {
            font-size: 10px;
          }
        }

        .dropdownMenu {
          position: absolute;
          width: 100%;
          z-index: -1;
          top: 0;
          left: 50%;
          right: 50%;
          cursor: default;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          // background: red;
          background: var(--white);
          padding-top: 70px;
          max-width: var(--wrapper-max-width);
          transform: translateX(-50%);
          box-shadow: 0px 6px 34px rgba(116, 116, 116, 0.15);

          @media (max-width: 1264px) {
            position: fixed;
            top: 70px;
            left: -100vw;
            z-index: 270;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transition: left 0.4s ease-in-out;
            background: var(--black);
            padding: 40px 16px 120px;
            overflow-y: auto;
            height: 100%;
            width: 300px;
            transform: none;
            box-shadow: none;
          }

          @media screen and (max-width: 299px) {
            width: 280px;
          }

          &.show {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            // transform: none;

            @media (max-width: 1264px) {
              left: 0;
              right: 0;
              transform: none;
            }
          }

          .dropdownContainer {
            width: 100%;
            border-top: 1px solid var(--fade);

            @media (max-width: 1264px) {
              border: 0;
            }

            .dropdownWrapper {
              width: 85%;
              margin: 0 auto;
              padding: 50px 0px;

              @media (max-width: 1387px) {
                width: 90%;
              }

              @media (max-width: 1315px) {
                width: 95%;
              }

              @media (max-width: 1264px) {
                padding: 0px;
                width: 100%;
              }

              &.about,
              &.services,
              &.industries,
              &.publicService {
                display: flex;
                align-items: center;

                @media (max-width: 1264px) {
                  flex-direction: column;
                  align-items: flex-start;
                }
              }

              &.portfolio {
                display: flex;

                @media (max-width: 1264px) {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }

  .navEnd {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      height: auto;
    }
    .login {
      margin-right: 20px;

      @media (max-width: 1264px) {
        margin-bottom: 40px;
        width: var(--full);
        margin-right: 0px;
      }
    }
    .contactLink {
      width: fit-content;
      flex-shrink: 0;

      > a {
        font-family: Proxima-Medium;
        width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        // border: 1px solid #f7f7f7 !important;
      }
    }

    .searchBtn {
      margin: 0 39px;

      @media (max-width: 1264px) {
        margin: 40px 0px;
      }

      > button {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: transparent;
        font-size: 15px;
        color: var(--white);

        @media (max-width: 1264px) {
          color: var(--white) !important;
        }

        &.darkText {
          color: var(--new-blue);
        }

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
