// general config

@font-face {
  font-family: Lato-Regular;
  src: url("../assets/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Medium;
  src: url("../assets/fonts/lato/Lato-Medium.ttf");
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: Lato-Regular, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  background: var(--main-bg);
  color: var(--text-primary);
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
}

// 1114px 1023px 900px 700px

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Lato-Bold;
}

p {
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background-color: var(--pry-green);
  border: 1px solid var(--pry-green);
  border-radius: 4px;
  color: var(--white);
  font-family: Lato-Regular;
  font-size: 16px;

  &:hover {
    border: 1px solid var(--pry-green);
    background: var(--white);
    color: var(--pry-green);
  }
}

.btn-block {
  width: 100%;
  height: 58px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  display: block;
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  outline: none;
  color: inherit;
  width: 100%;
  font-family: inherit;
  border: 1.5px solid #b6b7b9;
  background: rgba(255, 255, 255, 0.137);
  border-radius: 4px !important;
  height: 55px !important;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  color: #65676f;

  &:focus {
    border: 1px solid var(--pry-green);
  }
}

select {
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
  position: relative;
  height: 56px;

  > label {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    margin-bottom: 0px;
  }

  input {
    padding: 12px 38px 12px 12px !important;
  }
}

.select-wrapper {
  width: 100%;
  position: relative;
  height: 50px;

  max-width: 100%;

  select {
    border: 1.5px solid #adb7be;
    color: #adb7be !important;
  }

  label {
    position: absolute !important;
    top: -12px !important;
    left: 10px !important;
    margin-bottom: 0px !important;
    font-size: 14px;
    line-height: 16px;
    color: #343434;

    background-color: var(--white);
    padding: 5px;
  }

  &::after {
    content: "";
    width: 10px;
    height: 6px;
    background: url("/assets/images/chevron-down.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    pointer-events: none;
    display: block;
  }
}

.backdrop {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
  // blur property
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @media (min-width: 1265px) {
    display: none;
  }

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// hamburger

.hamburger {
  padding: 0;
  width: fit-content;
}

.hamburger-box {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  width: 28px !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--pry-green);
  width: 28px !important;
  height: 1.8px !important;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--pry-green);
  width: 28px !important;
  height: 1.8px !important;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 33;
}
