:root {
  --black: #000000;
  --pry-green: #46c35f;
  --sec-blue: #0d7590;
  --lite-grey: #f2f2f2;
  --lite-green: #d7ecec;
  --text-pry: #343434;
  --text-sec: #4f4f4f;
  --text-primary: #333333;
  --main-bg: #f7f7f7;
  --white: #fff;
  --alert: #f8d7da;
  --alert-color: #721c24;
  --alert-border: #f5c6cb;
  --full: 100%;
  --radius: 2px;
  --box-shadow: inset -1px 0px 0px #e2e2ea;
  --wrapper-max-width: 1980px;
  --wrapper-min-width: 240px;
}
