:root {
  --black: #000000;
  --pry-green: #46C35F;
  --sec-blue: #0D7590;
  --lite-grey:  #F2F2F2;
  --lite-green: #d7ecec;
  --text-pry: #343434;
  --text-sec: #4F4F4F;;
  --fade: #f5f5f5;
  --text-primary: #333333;
  --main-bg: #F7F7F7;;
  --white: #fff;
  --full: 100%;
  --radius: 2px;
  --box-shadow: inset -1px 0px 0px #e2e2ea;
  --wrapper-max-width: 1980px;
  --wrapper-min-width: 240px;
}
