.result {
  width: 100%;
  padding: 50px 0 20px 0px;

  .wrapper {
    width: 85%;
    margin: 0 auto;
    background-color: var(--white);
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    .save-btn-div {
      background-color: var(--main-bg);

      .save-btn {
        font-size: 12px;
        height: 35px !important;
        width: 126px;
        border-radius: 0px;
        margin-bottom: 20px;
      }
    }

    .result-wrapper {
      padding: 40px 20px;

      .result-header {
        display: flex;
        justify-content: space-between;

        .logo-div {
          width: 120px;
          height: 120px;

          img {
            width: 100%;
          }
        }

        .passport-div {
          width: 120px;
          height: 120px;

          img {
            width: 100%;
          }
        }

        .result-address {
          text-align: center;
          margin: 0px 10px;

          .sch-address {
            h2 {
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              color: #4f4f4f;
              margin-bottom: 10px;
            }

            p {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              color: #4f4f4f;
              margin-bottom: 10px;
              width: 250px;
              margin-left: auto;
              margin-right: auto;
            }
          }

          .sch-dept {
            h2 {
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #333333;
              margin-bottom: 10px;
            }
            h5 {
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 14px;

              color: #333333;
              margin-bottom: 10px;
            }
          }
        }
      }
      .result-user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0;

        @media (max-width: 700px) {
          flex-direction: column;
        }

        .result-user-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0px;
          }

          h4 {
            width: 80px;
          }

          span {
            margin-left: 20px;
          }
        }
      }
      .table1 {
        width: 100%;
        height: 250px;
        overflow: scroll;
        overflow-x: hidden;
        margin-bottom: 20px;
        background-color: var(--white);

        @media (max-width: 700px) {
          overflow-x: scroll;
          height: 400px !important;
        }

        &::-webkit-scrollbar {
          width: 24px;
          height: 24px;
          display: none;
        }

        &::-webkit-scrollbar-track-piece {
          border-radius: 0px;
          background: #f8f8f8;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--pry-green);
          border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: var(--pry-green);
        }

        table {
          width: 100%;
          height: 200px;
          text-align: left;
          border-collapse: collapse !important;

          tr {
            border-radius: 50px !important;
          }

          tr:nth-child(even) {
            background-color: #f2f2f2;
          }
        }

        th {
          background-color: var(--sec-blue);
          color: var(--white);
          padding: 15px 10px;
          margin-bottom: 10px;
        }

        td {
          padding: 15px 10px;

          h3 {
            font-size: 14px;
            line-height: 17px;
            color: #65676f;
          }
          .download-btn {
            font-size: 12px;
            height: 35px;
            width: 126px;
            border-radius: 0px;
          }
        }
      }
      .table2 {
        width: 80%;
        height: 150px;
        overflow: scroll;
        overflow-x: hidden;
        background-color: var(--white);

        @media (max-width: 700px) {
          overflow-x: scroll;
        }

        &::-webkit-scrollbar {
          width: 24px;
          height: 24px;
          display: none;
        }
        &::-webkit-scrollbar-track-piece {
          border-radius: 0px;
          background: #f8f8f8;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--pry-green);
          border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: var(--pry-green);
        }

        table {
          width: 100%;
          height: 100px;
          text-align: left;
          border-collapse: collapse !important;

          tr {
            border-radius: 50px !important;
          }

          tr:nth-child(even) {
            background-color: #f2f2f2;
          }
        }

        th {
          background-color: var(--sec-blue);
          color: var(--white);
          padding: 15px 10px;
          margin-bottom: 10px;
        }

        td {
          padding: 15px 10px;

          h3 {
            font-size: 14px;
            line-height: 17px;
            color: #65676f;
          }
          .download-btn {
            font-size: 12px;
            height: 35px;
            width: 126px;
            border-radius: 0px;
          }
        }
      }

      .remarks {
        margin-bottom: 150px;
        .remarks-item {
          display: flex;
          align-items: center;
        }
      }

      .signature-wrapper {
        .signature {
          width: 200px;
          border: solid 1px var(--black);
          margin-bottom: 20px;
        }
      }
    }
  }
}
